.main-nav{
    display: grid;
    grid-template-columns: 72px 1fr 1fr 1fr 72px;
    align-items: center;
    height: 72px;

}

.nav-logo{
display: grid;
grid-column-start: 2;
grid-column-end: 3;


}
.img{
    width: 163px;   
    margin-left: 72px;
}
.nav-search{
    display: grid;
   justify-content: center;
   align-items: center;
   
  

}

.search{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 360px;
   height: 42px;
   border-radius: 21px;
   background-color: #F2F2F2;
}

.search input{
    width: 242px;
    height: 20px;
    margin-left: 17px;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'IBM Plex Sans', sans-serif;
   color: #5C5C5C;
}

.nav-register{
display: grid;
justify-content: end;
font-family: 'IBM Plex Sans', sans-serif;
}
.nav-register p{
    font-weight: 500;
    color: #2E2E2E;
}
.nav-register span{
    font-weight: 700;
    color: #2F6CE5;
}